@using TodoList.Client.Services
@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService

<div class="page ">
    @if (AuthenticationService.User != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <div class="main">
    
            @Body
    
    </div>
</div>