
@inherits LayoutComponentBase

    <div class="container d-flex col-lg-12 col-md-12 align-items-center justify-content-between my-1 px-5">
        <div class="navbar-brand fs-75">
            <a class="text-decoration-none text-black fs-35 font-weight-bold" href="/">remind.me</a>
        </div>
        <div>
            <a class="px-4 text-decoration-none text-black fs-20"  href="/login">Login</a>
            <a class=" text-decoration-none text-black fs-20" href="/signup">SignUp</a>
        </div>
    </div>
    @Body


    @code {

    }
