@inherits LayoutComponentBase
@using TodoList.Client.Components


<Navbar/>
<div style="min-height:80vh;" class="container-fluid d-flex flex-wrap ">


    <div class="col-md-6 col-sm-12 checklist-img align-self-end">
        <img class="w-75 img-fluid" src="img/checklist.png" alt="" />
    </div>

    <div class="col-md-6 col-sm-12 d-flex flex-column text-center font-weight-bold ls-2 mt-3 justify-content-center align-items-center">
        <div class="fs-70 fs-sm-50">
            <p class="mt-5 fs-60">stay organized,<br />stay relaxed.</p>.
        </div>
        <div class="btn bg-green  rounded-pill mt-3 py-3 px-5 shadow-lg ">
            <a class="font-weight-bold text-decoration-none text-dark fs-20 ls-2 col-sm-12 bg-green" href="/signup">GET STARTED</a>
        </div>
    </div>

</div>