<div class="row">
    <nav class="navbar d-flex justify-content-between col-md-12 col-12 col-lg-12 mt-2">

        <div class="logo col-md-6 col-lg-6">
            <a href="/" class="text-decoration-none fs-30 text-dark font-weight-bold ls-2"> remind.me</a>
        </div>
        <div class=" col-md-6 col-lg-6 ">
            <ul class="d-flex justify-content-end ">
                <li class="list-unstyled"> <a class="btn text-decoration-none ls-2 fs-18 text-dark mx-2" href="/login">Login</a></li>
                <li class="list-unstyled">  <a class="btn btn-outline-success ls-2 text-decoration-none  fs-18 text-dark mx-2" href="/signup">Sign Up</a></li>
            </ul>
        </div>
    </nav>
</div>




