.fs-75{
    font-size:75px;
}

.fs-20 {
    font-size: 20px;
}

.bg-green {
    background-color: #BEE5D3 !important;
    border: none;
}

.text-black {
    color: #000000 !important;
}
.ls-2{
    letter-spacing: 2px !important;
}

.lh-5{
    line-height:5px;
}

.fw-600{
    font-weight: 600 !important;
}