@page "/"
@layout NavbarLayout

    <div class="container ">
        <div class="row">


            <div class="col-md-5 col-lg-5">
                <img class="w-50" src="../wwwroot/images/index.png" alt="To Do List index image" />
            </div>

            <div class="col-md-7 col-lg-7">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <h1>stay organized, <br /> <span>stay relaxed</span> </h1>
                        <button class="btn btn-danger w-25 rounded-pill">GET STARTED</button>
                    </div>
            </div>
        </div>
    </div>
    @code{

    }